@{
    Layout = "_Layout";
    ViewBag.Title = "Menu-Cake Bakery";
}


<!--================End Main Header Area =================-->
<section class="banner_area">
	<div class="container">
		<div class="banner_text">
			<h3>Menu</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="menu.html">Menu</a></li>
			</ul>
		</div>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================Recipe Menu list Area =================-->
<section class="price_list_area p_100">
	<div class="container">
		<div class="price_list_inner">
			<div class="single_pest_title">
				<h2>Our Price List</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="discover_item_inner">
						<div class="discover_item">
							<h4>Double Chocolate Pie</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Zabaglione Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Blueberry Muffin</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Box of Delight</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$7.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Classic French Croissant</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$6.79</span></p>
						</div>
						<div class="discover_item">
							<h4>Macarons & Tea</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$5.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Strawberry Sweet Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Cupcake of Vanela</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$20.00</span></p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="discover_item_inner">
						<div class="discover_item">
							<h4>Fried Egg Sandwich</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Multigrain Hot Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Branch Special Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Bialy Egg Sandwich with Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$7.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Strawberry Sweet Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$6.79</span></p>
						</div>
						<div class="discover_item">
							<h4>Double Chocolate Pie</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$5.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Blueberry Muffin</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
						</div>
						<div class="discover_item">
							<h4>Classic Chocolate Cake</h4>
							<p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$20.00</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row our_bakery_image">
				<div class="col-md-4 col-6">
					<img class="img-fluid" src="assets/img/our-bakery/bakery-1.jpg" alt="">
				</div>
				<div class="col-md-4 col-6">
					<img class="img-fluid" src="assets/img/our-bakery/bakery-2.jpg" alt="">
				</div>
				<div class="col-md-4 col-6">
					<img class="img-fluid" src="assets/img/our-bakery/bakery-3.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

